<div class="footer" style="background-image: url('./assets/fondoPort1.jpg')">
    <!-- <p>Contacto:</p> -->
    <div id="redes">
  
      <div class="row" style=" text-align: center;">
        <a href="mailto:maquicapri@gmail.com" target="_blank"
              rel="noopener noreferrer" class="logoMail"><i class="bi bi-envelope-at"></i></a>
        maquicapri@gmail.com
      </div>
      <div class="row">
        <a class="logoGit" href='http://github.com/MaquiCapri' target="_blank"><i class="bi bi-github"></i></a>
        GitHub
      </div>
  
      <div class="row">
        <a class="logoLinkedin" href='https://www.linkedin.com/in/maqui-caprioglio-b0aa8086/' target="_blank"><i
            class="bi bi-linkedin"></i></a>Linkedin
  
      </div>
  
  
      <div class="row" style=" text-align: center;">
        <a class="logoWhat" href='http://github.com/MaquiCapri' target="_blank"><i class="bi bi-whatsapp"></i></a>
        +54 9 3548 555 100
      </div>
  
    </div>
